.about-as {
  padding: 120px 0 180px 0;

  h2 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #102654;
    margin: 0;
    margin-bottom: 25px;
  }

  b {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #102654;
    margin-bottom: 55px;
    display: inline-block;
    vertical-align: middle;
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #102654;
    margin: 0;
    margin-bottom: 10px;
  }

  img {
    width: 50vw;
    height: 401px;
    object-position: center;
    object-fit: cover;
  }
}

.about-as__container {
  display: flex;
  align-items: center;
}

.about-as__text-wrapper {
  max-width: 355px;
  margin-right: 100px;
}

.about-as__image-wrapper {
  position: relative;
  width: 50vw;
  height: 401px;
  z-index: 0;
}

.about-as__video-wrapper {
  position: absolute;
  bottom: -117px;
  left: -69px;
  z-index: 0;
  width: 364px;
  height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c6c6c6;
  background-image: url("../img/jpg/about-as-video-demo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .about-as__video-wrapper {
    background-image: url("../img/jpg/about-as-video-demo-retina.jpg");
  }
}

.about-as__play-button {
  width: 71px;
  height: 71px;
  position: absolute;
  top: 30%;
  left: 41%;
  border-radius: 50%;
  background-image: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  background-position: 55%;
  background-repeat: no-repeat;
  z-index: 10;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;

  svg {
    color: #ffffff;
  }
}

.about-as__play-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -13px;
  left: -15px;
  box-shadow: -1px 0 0 1px rgba(237, 2, 51, 0.1), -1px -1px 0 1px rgba(0, 62, 183, 0.1), -1px 1px 0 1px rgba(0, 62, 183, 0.1), 0 -1px 0 1px rgba(0, 62, 183, 0.1), 0 1px 0 1px rgba(0, 62, 183, 0.1), 1px -1px 0 1px rgba(0, 62, 183, 0.1), 1px 1px 0 1px rgba(0, 62, 183, 0.1), 1px 0 0 1px rgba(237, 2, 51, 0.1);
  border-radius: 50%;
  z-index: 1;
  opacity: 0.4;
}

.about-as__play-button:hover {
  scale: 1.1;

  svg {
    color: #eedcdc;
  }
}

.about-as__play-button:hover::before {
  opacity: 0.9;
}

@media (min-width: 1200px) {
  .about-as {
    grid-column: 1/3;

    img {
      width: 50vw;
      max-width: 660px;
      max-height: 401px;
      height: 30vw;
      object-position: center -40px;
      object-fit: cover;
    }
  }
}

@media (min-width: 1200px) {
  .about-as {
    padding: 120px 0 236px;

    h2 {
      margin-top: 39px;
      margin-bottom: 8px;
      letter-spacing: 0.03em;
    }

    b {
      margin-bottom: 38px;
    }

    .about-as__container {
      padding: 0 102px 0 163px;
      align-items: flex-start;
    }
  }

  .about-as__text-wrapper {
    margin-right: 84px;
  }

  .about-as__video-wrapper {
    left: -61px;
    width: 26.6vw;
    height: 16.8vw;
    max-width: 364px;
    max-height: 228px;
  }

  .about-as__play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .about-as {
    padding: 102px 0 144px;

    .about-as__container {
      padding: 0 45px 0 45px;
    }

    h2 {
      transform: translateX(-5px);
    }

    b {
      margin-bottom: 31px;
    }

    p {
      width: 80%;
      margin-bottom: 44px;
    }
  }

  .about-as__image-wrapper {
    width: 100%;

    picture {
      display: block;
      width: 100%;
      height: 45vw;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      scale: 1.15;
      object-position: -40px 8px;
      object-fit: fill;
    }
  }

  .about-as__video-wrapper {
    left: 50%;
    top: 90%;
    width: 34.8vw;
    height: 21.8vw;
    transform: translate(-50%, -50%);
  }

  .about-as__play-button {
    width: 52px;
    height: 52px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      margin-left: 3px;
      width: 10px;
      height: 10px;
    }
  }

  .about-as__play-button::before {
    width: 71px;
    height: 71px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1199px) {
  .about-as__container {
    flex-direction: column;
    align-items: center;
  }

  .about-as {
    padding: 100px 0 175px 0;

    img {
      width: 90vw;
      height: 50vw;
      object-fit: cover;
    }

    h2 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 0;
    }

    b {
      margin-bottom: 50px;
    }

    p:not(:first-of-type) {
      display: none;
    }

    p {
      width: 100%;
      min-width: 502px;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  .about-as__image-wrapper {
    position: relative;
    width: 90vw;
    height: 50vw;
    z-index: 0;
  }

  .about-as__video-wrapper {
    left: 30%;
    top: 78%;
    width: 266px;
    height: 167px;
  }


  .about-as__text-wrapper {
    max-width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .about-as {
    padding: 63px 0 71px 0;

    h2 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 6px;
      align-self: flex-start;
      text-align: start;
      margin-left: 15px;
      letter-spacing: 0.03em;
    }

    b {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 23px;
      align-self: flex-start;
      text-align: start;
      margin-left: 15px;
    }

    p {
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 34px;
      width: 80%;
      min-width: 258px;
      align-self: flex-start;
      text-align: start;
      margin-left: 15px;
    }

    img {
      object-position: -134px -1px;
    }
  }

  .about-as__play-button::before {
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-as__video-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 52vw;
  }

  .about-as__container {
    padding: 0;
    align-items: flex-start;
  }

  .about-as__play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;

    svg {
      width: 10px;
      height: 10px;
      margin-top: 3px;
      margin-left: 3px;
    }
  }

  .about-as__image-wrapper {
    position: initial;
    width: 100%;
    height: auto;


    img {
      width: 100vw;
      height: 98vw;
      margin-bottom: 40px;
    }
  }
}
